<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.linearfitting.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.linearfitting.entity.user.UserDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,email,password,phone,create_time,update_time
    </sql>
    <sql id="Base_Column_Insert">
        name,email,password,phone,create_time,update_time
    </sql>


    <insert id="insert">
        insert into `user`(<include refid="Base_Column_Insert"/>)
        values(#{user.name},#{user.email},#{user.password},#{user.phone},#{user.createTime},#{user.updateTime})
    </insert>

    <update id="update" parameterType="com.example.linearfitting.entity.user.UserDTO">
        update `user`
        set update_time=#{user.updateTime}
        <if test="user.name != null">
            ,`name`=#{user.name}
        </if>
        <if test="user.email != null">
            ,email=#{user.email}
        </if>
        <if test="user.password != null">
            ,password=#{user.password}
        </if>
        <if test="user.phone != null">
            ,phone=#{user.phone}
        </if>
        <if test="user.createTime != null">
            ,create_time=#{user.createTime}
        </if>
        where id=#{user.id}
    </update>

    <select id="findPassword" resultType="com.example.linearfitting.entity.user.UserDTO">
        select *
        from `user`
        where 1=1
        <if test="user.name != null">
            and `name`=#{user.name}
        </if>

    </select>
    <select id="isExist" resultType="java.lang.Integer">
        select count(1)
        from `user`
        where  `name` = #{name}
    </select>


</mapper>